# print Topic

In [10]:
print("Hello\nWorld\t\"smit\"\\")

Hello
World	"smit"\

In [1]:
print("Hello\nWorld\t\"smit\"\\")

Hello
World	"smit"\

In [3]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [6]:
from datetime import datetime  
print(datetime.now())

2022-02-19 12:33:31.346113

In [27]:
name ="Zubair"
print(name)

Zubair

In [31]:
name +=10
print(name)

30

# concatenation(str to str)

In [34]:
firstname = "omer"
lastname="minhas"
print(firstname+" "+lastname)

omer minhas

# operand or opeator

In [45]:
a1=100
b1=24
c1= (2 + 2 ) * 2
print(c1)

8

# a or b =>operand
## +=>operator

In [6]:
a =int(input("Enter Value : "))
b = int(input("Enter Value : "))
print(a+b)

Enter Value : 4
Enter Value : 6
10

# input type =>string

In [26]:
a =12
if a>10 : 
     print("Greater")
elif a<10:
    print("Less")
else : 
    print("Equal")

Greater

In [27]:
a = int(input ("Enter First Number "))
b = int(input ("Enter First Number "))
op = input("Enter Operator")
if op == "+" :  
    print(a+b)
    

elif op == "-" :
    
    print(a-b)
    
elif op == "%" :
    
    print(a%b)

# List =>collection of element

# 1) HOMOGENOUS(sdt)
# 2) HETEGENOUS(ddt)

In [38]:
A =[1,2,3,4,"asad",True]
print(A)

[1, 2, 3, 4, 'asad', True]

In [37]:
A.append(12)
A

[1, 2, 3, 4, 'asad', True, 12]

In [54]:
A.insert(3,"smit")
A

[1, 2, 3, 'smit', 'smit', 'smit', 'smit', 4, 'asad', True]

In [52]:
A[-3:-1]

[4, 'asad']

In [53]:
# A[start,end-1]

In [57]:
del  A[0]
A

['smit', 'smit', 'smit', 'smit', 4, 'asad', True]

In [67]:
A=[1,2,3,4,5]
A

[1, 2, 3, 4, 5]

In [68]:
del A[0]
A

[2, 3, 4, 5]

In [69]:
A.remove(4)

In [80]:
A=["asad","omer","asad",34,"omer"]
A

['asad', 'omer', 'asad', 34, 'omer']

In [73]:
A.remove("asad")

In [79]:
A

['omer', 'asad']

In [77]:
A.pop()

34

In [78]:
A

['omer', 'asad']

In [101]:
arr=["omer","asad","zubair","shoaib","Faisal","Umair","umer","Aneel"]
for i in range(0,len(arr)):
   
    if arr[i]== "asad" or arr[i]=="umer":
        print(arr[i] + "No salary" )
        
    else:
        
        print("sALARY  :"+ arr[i])

sALARY omer
asadNo salary
sALARY zubair
sALARY shoaib
sALARY Faisal
sALARY Umair
umerNo salary
sALARY Aneel

In [116]:
arr1 = [12000,200000,10000,4000]
for i in range(0,len(arr1)):
    print(arr1[i])
    if(arr1[i]>100000):
        print("no commision")
    else:
        a = (arr1[i]/100)*20
        print(a)
        arr1[i] =arr1[i]+a
        
print(arr1)

12000
2400.0
200000
no commision
10000
2000.0
4000
800.0
[14400.0, 200000, 12000.0, 4800.0]