# Introduction To Python

In [2]:
print("Hello\nWorld")

Hello
World

In [3]:
print("Hello\tWorld")

Hello	World

In [7]:
print("\'Hello World '")

'Hello World '

In [8]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

# Date

from datetime import datetime
now = datetime.now()
print(now)

In [12]:
name = "Muhammad Hunain"
print(name)

Muhammad Hunain

In [17]:
no +=15
print(no)

45

# concatenation  Str to Str

In [18]:
fname = "muhammad Hunain"
lname = "Muhammmad  Hammad"
print(fname+" "+lname);

muhammad Hunain Muhammmad  Hammad

# operand to operator

In [19]:
a=3
b=5
print(a+b)

8

In [20]:
a = int(input("Enter Number one"));
b = int(input("Enter Number Two"));
print(a+b);

Enter Number one12
Enter Number Two34
46

# if else

In [24]:
a=10;
if(a>12):
    print("Greater")
elif(a!=12):
    print("Nothing")
elif(a<12):
    print("less then")
else:
    print("equal")

Nothing

In [30]:
a = input("Enter The Name");
print(a[::-1]);

Enter The Name5
5

# ARRAY

In [31]:
A = [1,2,3,4,"asad",True]
A

[1, 2, 3, 4, 'asad', True]

In [33]:
A.insert(3,"Smit")
A

[1, 2, 3, 'Smit', 'Smit', 4, 'asad', True]

In [34]:
A.append(False);
A

[1, 2, 3, 'Smit', 'Smit', 4, 'asad', True, False]

In [35]:
A[3:4]

#A[Start:end-1]

['Smit']

In [39]:
A[3:]

['Smit', 'Smit', 4, 'asad', True, False]

In [41]:
del A[3]

# Delete Through index

In [42]:
A

[1, 2, 3, 'Smit', 4, 'asad', True, False]

In [47]:
A.remove(4);
A

#remove use to Delete throgh specific value

[1, 2, 'Smit', 'asad', True, False]

In [55]:
A.clear()
A
# Clear is use to Remove All Element of Array

[]

# For Loop

In [52]:
A=[1,3,4]
A

[1, 3, 4]

In [4]:

for i in range(0,100,5):
    if(i==55):
        break;
    print(i)

0
0
5
5
10
10
15
15
20
20
25
25
30
30
35
35
40
40
45
45
50
50
55

In [15]:
arr=["omer","Zubair","Asad","Jabbar","Farrooq"]
for i in range(0,len(arr)):
    if(arr[i] == "omer" or arr[i] == "Asad" ):
        print(arr[i] + "  No Salary");
    else:
        print(arr[i] + "  salary")

omer  No Salary
Zubair  salary
Asad  No Salary
Jabbar  salary
Farrooq  salary

In [19]:
arr1 = ["omer","jabbar","Farooq"];
arr2 = ["khan"]
for i in (0,len(arr1)):
    for j in (0,len(arr2)):
        print(arr[i] + " " + arr[j])

omer omer
omer Zubair
Jabbar omer
Jabbar Zubair

In [18]:
arr1 = [12000,200000,10000,4000]
for i in range(0,len(arr1)):
    print(arr1[i])
    if(arr1[i]>100000):
        print("no commision")
    else:
        a = (arr1[i]/100)*20
        print(a)
        arr1[i] =arr1[i]+a
        
print(arr1)

12000
2400.0
200000
no commision
10000
2000.0
4000
800.0
[14400.0, 200000, 12000.0, 4800.0]

In [20]:
for i in range (0,5):
    for j in range(0,i):
        print(i ,end="")
    print("\n")

1

22

333

4444